// -------
// Please see `app/assets/stylesheets/page_bundles/ide_themes/README.md` for a guide on contributing new themes
// -------
.ide.theme-dark {
  a:not(.btn) {
    color: var(--ide-link-color);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  code,
  .md table:not(.code),
  .md,
  .md p,
  .ide-view,
  .context-header > a,
  .ide-sidebar-link,
  .multi-file-tab-close,
  .ide-tree-header button,
  .ide-status-bar,
  input,
  textarea,
  .md-area.is-focused,
  .ide-entry-dropdown-toggle,
  .dropdown-menu li button,
  .ide-merge-request-project-path,
  .dropdown-menu-selectable li a.is-active,
  .dropdown-menu-inner-title,
  .dropdown-menu-inner-content,
  .nav-links:not(.quick-links) li:not(.md-header-toolbar) a,
  .nav-links:not(.quick-links) li:not(.md-header-toolbar) a:hover,
  .nav-links:not(.quick-links) li:not(.md-header-toolbar) a.active .badge.badge-pill,
  .nav-links:not(.quick-links) li:not(.md-header-toolbar) a:hover .badge.badge-pill,
  .badge.badge-pill,
  .ide-navigator-button,
  .bs-callout,
  .ide-navigator-btn,
  .ide-pipeline .top-bar,
  .ide-pipeline .top-bar .controllers .controllers-buttons {
    color: var(--ide-text-color);
  }

  .drag-handle:hover,
  .card-header .badge.badge-pill {
    background-color: var(--ide-dropdown-hover-background);
  }

  .dropdown-menu-toggle svg,
  .dropdown-menu-toggle svg:hover,
  .ide-tree-header:not(.ide-pipeline-header) svg,
  .file-row .file-row-icon svg,
  .file-row:hover .file-row-icon svg,
  .controllers-buttons svg {
    fill: var(--ide-text-color);
  }

  .ide-pipeline svg {
    --svg-status-bg: var(--ide-background);
  }

  .multi-file-tab-close:hover {
    background-color: var(--ide-input-border);
  }

  .ide-review-sub-header:hover {
    color: var(--ide-input-border);
  }

  .text-secondary {
    color: var(--ide-text-color) !important;
  }

  input[type='search']::placeholder,
  input[type='text']::placeholder,
  textarea::placeholder,
  .dropdown-input .fa {
    color: var(--ide-input-border);
  }

  .ide-nav-form .input-icon {
    fill: var(--ide-input-border);
  }

  code,
  .multi-file-commit-panel,
  .multi-file-tabs,
  .multi-file-tabs li,
  .file-row:hover,
  .file-row:focus,
  .multi-file-commit-list-path:hover,
  .multi-file-commit-list-path:focus,
  .multi-file-commit-list-path.is-active,
  .file-row.is-active,
  .ide-commit-editor-header,
  .ide-file-templates,
  .ide-entry-dropdown-toggle,
  .ide-staged-action-btn,
  .badge.badge-pill,
  .card-header,
  .bs-callout,
  .ide-pipeline .top-bar,
  .ide-terminal .top-bar {
    background-color: var(--ide-background);
  }

  .bs-callout {
    border-color: var(--ide-dropdown-background);

    code {
      background-color: var(--ide-dropdown-background);
    }
  }

  .nav-links:not(.quick-links) li:not(.md-header-toolbar) a:hover {
    border-color: var(--ide-dropdown-hover-background);
  }

  .ide-sidebar-link:hover,
  .multi-file-tabs li {
    background-color: var(--ide-background-hover);
  }

  .common-note-form .md-area {
    border-color: var(--ide-input-border);
  }

  &,
  .md table:not(.code) tr th,
  .multi-file-commit-panel-inner-content,
  .multi-file-commit-form,
  .multi-file-tabs li.active,
  .ide-sidebar-link.active,
  .ide-sidebar-link.active::after,
  .ide-right-sidebar .multi-file-commit-panel-inner,
  .common-note-form .md-area,
  .ide-commit-message-field,
  .card,
  .multi-file-commit-panel-success-message,
  .ide-preview-header {
    background-color: var(--ide-highlight-background);
  }

  .multi-file-commit-panel {
    padding-right: 0;
  }

  .ide-mode-tabs,
  .multi-file-commit-panel-inner,
  .multi-file-commit-panel-inner-content,
  .multi-file-commit-form,
  .multi-file-edit-pane,
  .ide-right-sidebar .ide-activity-bar,
  .ide-sidebar-link.active,
  .multi-file-tabs li.active,
  .multi-file-tabs li,
  .ide-status-bar,
  .ide-commit-editor-header,
  .ide-file-templates,
  .card,
  .card-header,
  .ide-job-item:not(:last-child),
  .ide-terminal .top-bar,
  .ide-pipeline .top-bar {
    border-color: var(--ide-border-color);
  }

  .md h1,
  .md h2,
  .md blockquote,
  pre,
  .md table:not(.code) tbody td,
  .md table:not(.code) tr th,
  .multi-file-commit-form > .commit-form-compact,
  .ide-tree-header,
  .multi-file-commit-panel-header,
  .multi-file-commit-form > form,
  .multi-file-commit-form hr,
  .ide-commit-list-container.is-first,
  .multi-file-commit-form .nav-links:not(.quick-links),
  .ide-pipeline-list .nav-links:not(.quick-links),
  .ide-preview-header {
    border-color: var(--ide-background);
  }

  .multi-file-tabs li.active {
    border-bottom-color: var(--ide-highlight-background);
  }

  .multi-file-tabs,
  .ide-commit-editor-header {
    box-shadow: inset 0 -1px var(--ide-border-color);
  }

  .ide-sidebar-link.active {
    color: var(--ide-highlight-accent);
    box-shadow: inset 3px 0 var(--ide-highlight-accent);

    &.is-right {
      box-shadow: inset -3px 0 var(--ide-highlight-accent);
    }
  }

  .nav-links li.active a,
  .nav-links li a.active {
    border-color: var(--ide-highlight-accent);
    color: var(--ide-text-color);
  }

  .avatar-container {
    &,
    .avatar {
      color: var(--ide-text-color);
      background-color: var(--ide-highlight-background);
      border-color: var(--ide-highlight-background);
    }
  }

  .ide-status-bar {
    background-color: var(--ide-footer-background);
  }

  input[type='text'],
  input[type='search'],
  .filtered-search-box {
    border-color: var(--ide-input-border);
    background: var(--ide-input-background) !important;
  }

  input[type='text'],
  input[type='search'],
  .filtered-search-box,
  textarea {
    color: var(--ide-input-color) !important;
  }

  .filtered-search-box input[type='search'] {
    border-color: transparent;
  }

  .filtered-search-token .value-container,
  .filtered-search-term .value-container {
    background-color: var(--ide-dropdown-hover-background);
    color: var(--ide-text-color);

    &:hover {
      background-color: var(--ide-input-border);
    }
  }

  .ide-entry-dropdown-toggle:hover {
    background: var(--ide-file-row-btn-hover-background);
  }

  @function calc-btn-hover-padding($original-padding, $original-border: 1px) {
    @return calc(#{$original-padding + $original-border} - var(--ide-btn-hover-border-width));
  }

  .btn:not(.btn-link):not([disabled]):hover {
    border-width: var(--ide-btn-hover-border-width);
    padding: calc-btn-hover-padding(6px) calc-btn-hover-padding(10px);
  }

  .btn:not([disabled]).btn-sm:hover {
    padding: calc-btn-hover-padding(4px) calc-btn-hover-padding(10px);
  }

  .btn:not([disabled]).btn-block:hover {
    padding: calc-btn-hover-padding(6px) 0;
  }

  .btn-inverted,
  .btn-default,
  .dropdown,
  .dropdown-menu-toggle {
    background-color: var(--ide-input-background) !important;
    color: var(--ide-input-color) !important;
    border-color: var(--ide-btn-default-border);
  }

  .btn-inverted,
  .btn-default {
    &:hover,
    &:focus {
      border-color: var(--ide-btn-default-hover-border) !important;
    }
  }

  .dropdown,
  .dropdown-menu-toggle {
    &:hover,
    &:focus {
      background-color: var(--ide-dropdown-btn-hover-background) !important;
      border-color: var(--ide-dropdown-btn-hover-border) !important;
    }
  }

  .dropdown-menu {
    color: var(--ide-text-color);
    border-color: var(--ide-background);
    background-color: var(--ide-dropdown-background);

    .divider,
    .nav-links:not(.quick-links) {
      background-color: var(--ide-dropdown-hover-background);
      border-color: var(--ide-dropdown-hover-background);
    }

    .nav-links li a.active {
      border-color: var(--ide-highlight-accent);
    }

    .ide-nav-form .nav-links li a:not(.active) {
      background-color: var(--ide-dropdown-background);
    }

    .nav-links:not(.quick-links) li:not(.md-header-toolbar) a {
      color: var(--ide-text-color);

      &.active {
        color: var(--ide-text-color);
      }
    }

    li > a:not(.disable-hover):hover,
    li > a:not(.disable-hover):focus,
    li button:not(.disable-hover):hover,
    li button:not(.disable-hover):focus,
    li button.is-focused {
      background-color: var(--ide-dropdown-hover-background);
      color: var(--ide-text-color);
    }
  }

  .dropdown-title,
  .dropdown-input {
    border-color: var(--ide-dropdown-hover-background) !important;
  }

  .btn-primary,
  .btn-info {
    background-color: var(--ide-btn-primary-background);
    border-color: var(--ide-btn-primary-border) !important;

    &:hover,
    &:focus {
      border-color: var(--ide-btn-primary-hover-border) !important;
    }
  }

  .btn-success {
    background-color: var(--ide-btn-success-background);
    border-color: var(--ide-btn-success-border) !important;

    &:hover,
    &:focus {
      border-color: var(--ide-btn-success-hover-border) !important;
    }
  }

  .btn[disabled] {
    background: var(--ide-btn-default-background) !important;
    border: 1px solid var(--ide-btn-disabled-border) !important;
    color: var(--ide-btn-disabled-color) !important;
  }

  .md-previewer,
  pre code,
  .md table:not(.code) tbody,
  .ide-empty-state {
    background-color: var(--ide-border-color);
  }

  .ide-tree-header svg:focus,
  .ide-tree-header svg:hover {
    color: var(--ide-link-color);
  }

  .animation-container {
    [class^='skeleton-line-'] {
      background-color: var(--ide-animation-gradient-1);

      &::after {
        background-image: linear-gradient(to right,
        var(--ide-animation-gradient-1) 0%,
        var(--ide-animation-gradient-2) 20%,
        var(--ide-animation-gradient-1) 40%,
        var(--ide-animation-gradient-1) 100%);
      }
    }
  }

  .idiff.addition {
    background-color: var(--ide-diff-insert);
  }

  .idiff.deletion {
    background-color: var(--ide-diff-remove);
  }
}

.navbar.theme-dark {
  border-bottom-color: transparent;
}

.theme-dark ~ .popover {
  box-shadow: none;
}
